
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
   /* padding-top: 30px;
   margin-bottom: 30px; */
   position:fixed;
   /* left: 100px; */
   width: 100%;
   /* top:40px; */
   background-color: #fef6f9;
   /* padding */
   
  

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    padding-top: 40px;
    border-bottom: 1px solid rgb(209, 205, 205);
    /* box-shadow: #2e2e2e; */
    /* position: fixed; */

}


.nav ul li {
    display: inline;
    padding-right: 50px;
    font-size: 16px;
    
   
}
.headertop{
    display: flex;
    align-items: center;
}
.btn1{
    margin-right: 20px;
    background-color: #f1f2f4;
    color: #2e2e2e;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
}
/* .menu a:hover */
 button:hover{
    font-size: 17px;
}
.button{
    padding-right: 15px;
}
button{
    padding: 7px 15px;
}
.btn2{
  background-color: #2e2e2e;
  color: #fefefe;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
  margin-right:-40px;
}
